body {
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

body.locked {
  overflow: hidden;
}
@media (min-width: 1024px) {
  body.locked {
    overflow: visible;
  }
}
